.div1
	background sprite( 'sprites/fish_left.png' )
	spriteSize()

	&:hover
		background sprite( 'sprites/fish_right.png' )

.div2
	background sprite( 'sprites/twitter.png' )
	spriteSize()

.div3
	background sprite( 'sprites/categories_down_arrow.png' )
	spriteSize()